<%= form_for(@paver_app) do |f| %>
  <% if @paver_app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paver_app.errors.count, "error") %> prohibited this paver_app from being saved:</h2>

      <ul>
      <% @paver_app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= render :partial => "my_field_format", :locals=>{:f => f, :fn => "Name"} %>
  <%= render :partial => "my_field_format", :locals=>{:f => f, :fn => "Line1"} %>
  <%= render :partial => "my_field_format", :locals=>{:f => f, :fn => "Line2"} %>
  <%= render :partial => "my_field_format", :locals=>{:f => f, :fn => "Line3"} %>
  <%= render :partial => "my_field_format", :locals=>{:f => f, :fn => "Line4"} %>
  <%= render :partial => "my_field_format", :locals=>{:f => f, :fn => "Paver"} %>
  <%= render :partial => "my_field_format", :locals=>{:f => f, :fn => "Placement"} %>
  <%= render :partial => "my_field_format", :locals=>{:f => f, :fn => "Row"} %>
  <%= render :partial => "my_field_format", :locals=>{:f => f, :fn => "Col"} %>

  <div class="actions">
    <%= f.submit "Save Changes" %>
  </div>

</div>

<% end %>
