<% if false %>
<%= form_for(@paver, builder: MyFormBuilder) do |f| %>
  <%= f.text_field :Name %>
  <%= f.submit %>
<% end %>
<% end %>

<%= form_for(@paver, :url => {:action => "purchase_create"}) do |f| %>
  <% if @paver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paver.errors.count, "error") %> prohibited this paver from being saved:</h2>

      <ul>
      <% @paver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  

  <div class="form-group container", style="padding-left: 15px;">
  <div style="float:left;">
  <%= image_tag "4x8.jpg" %>  <br />
  <%= f.radio_button :Paver, '4x8', {:class => "paver_radio"} %> 4" x 8" (3 text lines) $50 
  </div>
  <div style="float:left;padding-left: 30px;">
  <%= image_tag "8x8-4.jpg" %>  <br />
  <%= f.radio_button :Paver, '8x8-4', {:class => "paver_radio"} %> 8" x 8" (1 Logo + 4 text lines) $100 
  </div>
   <div style="float:left;padding-left: 30px;">
  <%= image_tag "8x8-5.jpg" %>  <br />
  <%= f.radio_button :Paver, '8x8-5', {:class => "paver_radio"} %> 8" x 8" (5 text lines) $100 
  </div>
  </div>

  <div class="form-group", style="padding-left: 15px;">
  <%= f.label :Purchaser, "Purchaser Name ( e.g. Robert Smith )", class: "control-label" %>
  <%= f.text_field :Purchaser, :size => 50, :maxlength => 50 %>   
 </div>

  <div class="form-group", style="padding-left: 15px;">
  <%= f.label :Name, "Deceased Name ( e.g. James Smith )", class: "control-label" %>
  <%= f.text_field :Name, :size => 51, :maxlength => 51 %>   
  </div>
 

  <div class="form-group", style="padding-left: 15px;">
  <%= f.label :Placement, class: "control-label" %>
  <%= f.select :Placement,
        [['WWI','WWI'],['WWII','WWII'],['Korea','Korea'],['Vietnam','Vietnam'],
        ['Gulf War','Gulf War'],['Iraq','Iraq'],['Afghanistan','Afghanistan'],
        ['Purple Heart','Purple Heart'],['Women in Service','Women in Service'],['POW/MIA','POW/MIA']],
        class: "form-control"  %> 
  </div>
 

  <div id="Logo" class="form-group", style="padding-left: 15px;">
    <%= f.label :Logo, class: "control-label" %>
    <%= f.select :Logo,
          [['None','None'],['Army','Army'],['Marine Corp','Marine Corp'],['Navy','Navy'],
          ['Air Force','Air Force'],['Coast Guard','Coast Guard']],
          class: "form-control" %>
  </div>

  <%= render :partial => "my_field_format", :locals=>{:f => f, :fn => "Line1", :rws =>  1,  :sample_txt => "In Memory Of"} %> 
  <%= render :partial => "my_field_format", :locals=>{:f => f, :fn => "Line2", :rws => 1, :sample_txt => "Lt. James F. Smith"} %>  
  <%= render :partial => "my_field_format", :locals=>{:f => f, :fn => "Line3", :rws => 1, :sample_txt => "US Marine Corps"} %> 
  <%= render :partial => "my_field_format", :locals=>{:f => f, :fn => "Line4", :rws => 1, :sample_txt => "Vietnam 1969-1970"} %> 
  <%= render :partial => "my_field_format", :locals=>{:f => f, :fn => "Line5", :rws => 1, :sample_txt => "Atlanta GA"} %> 
  
  <div class="form-group", style="padding-left: 15px;"><br /><br />
    <%= f.label :Email, class: "control-label" %>
    <%= f.text_field :Email, :size => 30, :maxlength => 30 %>   
  </div><br />
  
  <div class="actions">
  <!--  <%= f.submit "Purchase Selected", :class => "btn btn-success btn-sm" %>  -->
  <!--  <%= f.submit "Purchase Selected", :type => :image, :src => image_path("https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif") %> -->
   <%= f.submit(type: "image", alt: "Purchase Selected", 
       src: image_url("https://www.paypalobjects.com/webstatic/en_US/i/btn/png/gold-rect-paypalcheckout-60px.png")) %>
  </div>
<% end %>


<!-- <img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_buynow_cc_171x47.png" alt="Buy Now With Credit Cards">
<img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/gold-rect-paypalcheckout-60px.png" alt="PayPal Checkout">
 -->