<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<p id="notice"><%= notice %></p>

<style>
.google-maps {
        position: relative;
        padding-bottom: 40%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
</style>

<!-- 
<div class="row">
  <div class="col-md-6">
    <img style="background: transparent;" src="veterans.jpeg" class="img-thumbnail" alt="Veterans Image" width="604" height="200">
  </div>
    <div class="col-md-6">
    <div class="google-maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3805.474821790624!2d-77.0455412!3d38.8890473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sus!4v1466204205129" width="550" height="210" frameborder="0" style="border:0" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
 -->
<br>

 
 
 <div style="float:left;"> 
  <%= button_to "Purchase Paver", login_path, :id => "purchase-dailog-btn",
        :class => "btn btn-success btn-sm", :method => :get %>

</div> 

<% if !logged_in? %>
<div style="float:right;">
  <%= button_to "Admin Login", login_path, :id => "admin-dailog-btn",
        :class => "btn btn-default btn-sm", :method => :get %>
</div> 
<% else %>
<div style="float:right;">
  <%= button_to "Logout", {:controller => :sessions, :action => 'destroy', :id => "admin-dailog-btn"},
         :method => :delete, :class => "btn btn-default btn-sm" %>
</div> 
<% end %> 
<%= form_tag(pavers_path, :method => "get", id: "search-form") do %>
<%= label_tag(:q, " ", :style=>'width:50px;') %> 
<%= label_tag(:q, "   Enter the First or Last Name:") %>
<%= text_field_tag :search, params[:search], placeholder: "Search Pavers" %>


<%= button_tag(type: "submit", class: "new_post_submit") do %>
  <span><i class="glyphicon glyphicon-search"></i> Search</span>
<% end %> 

<!-- 
<a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwjgioHGnLLNAhUURGMKHfI8BC4QFggcMAA&url=http%3A%2F%2Fwww.johnscreekga.gov%2FParksAndRecreation%2FSeniors%2FJohns-Creek-Veterans-Association.aspx&usg=AFQjCNGqUGrHhqhxJbKBkZFrau78T0rIDw&sig2=8OJwz-ZbEON_xTmyfBj32w&bvm=bv.124817099,d.cGc">Visit Johns Creek Veterans Association WebSite</a>
<a href="http://www.facebook.com/johnscreekgagov"><span class="fa fa-fw fa-facebook"</span></a>
<a href="http://www.twitter.com/johnscreekgagov"><span class="fa fa-twitter"</span></a>
 -->
<% end %>


<br>
<div class="bg-success">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Logo</th>
      <th>Line1</th>
      <th>Line2</th>
      <th>Line3</th>
      <th>Line4</th>
      <th>Line5</th>
      <th>Paver</th>
      <th>Placement</th>
      <th>Row</th>
      <th>Col</th>
      <th></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @pavers.each do |paver| %>
      <tr>
        <td><%= paver.Name %></td>
        <td><%= paver.Logo %></td>
        <td><%= paver.Line1 %></td>
        <td><%= paver.Line2 %></td>
        <td><%= paver.Line3 %></td>
        <td><%= paver.Line4 %></td>
        <td><%= paver.Line5 %></td>
        <td><%= paver.Paver %></td>
        <td><%= paver.Placement %></td>
        <td><%= paver.Row %></td>
        <td><%= paver.Col %></td>
        <td><%= link_to 'Details', paver %></td>
  <!--       <td><%= link_to 'Edit', edit_paver_path(paver) %></td> -->
  <!--       <td><%= link_to 'Destroy', paver, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
 <% if logged_in? %>
  <%= link_to 'New Paver', new_paver_path %>
 <% end %> 
</div>
<br><br><br>
